/* Place all the styles related to the territory controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/
body {
  text-align: center;
  /*background-color: #546e7a*/
 }

#page-wrap {
  text-align: left;
  width: 800px;
  margin: 0 auto;
}

a:-webkit-any-link {
    color: #03a9f4;
    cursor: pointer;
    text-decoration: none;
}
p.congregation_id {
  visibility: hidden;
}
