/* Place all the styles related to the territory controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/
body {
  text-align: center;
  /*background-color: #546e7a*/
 }

#page-wrap {
  text-align: left;
  width: 800px;
  margin: 0 auto;
}

a:-webkit-any-link {
    color: #03a9f4;
    cursor: pointer;
    text-decoration: none;
}
p.congregation_id {
  visibility: hidden;
}

#created_territory {
  position: absolute;
  transition: .5s ease;
  left: 45%;
  margin-top: 20px;
  font-size: 13px;
}

input[type="submit" i] {
  font-size: 16px;
  margin-top: 15px;
}

button {
  font-size: 13px;
  margin-left: 15px;
}
